*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
#container{
    width: 100vw;
    height: auto;
}
section{
    height: 100vh;
    background-color: #c4cbcf;
    color: #fff;
    font-size: 20vh;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.img{
    background-size: auto;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    user-select: none;
    cursor: default;
}

/* 第一块：top */

.title{
    display: inline-block;
    margin:10px 10px ;
}
.titlename{
    color: rgb(11, 16, 19);
    font-size: 65px;
    font-family:"Brush Script MT";
    text-transform: uppercase;
    color: #000;
    margin: 20px 50px;
}


.navigationbar{
    
    float: right;
    margin: 10px 50px;
}

.navigationbar a{
    color: rgb(11, 16, 19);
    display: block;
    padding: 5px 5px;
    font-size: 20px;
    font-family:"Yuanti SC" ;
    font-weight: 20px;
    letter-spacing:15px;
    text-decoration:none;
    color:#000;
    position:relative;
}

.navigationbar a::after{
    content: " ";
    width: 100%;
    height: 0;
    top: 10px; 
    left: 0;
    background-color: rgb(254, 223, 225);
    transition: all .5s linear;
    position:absolute;
}

.navigationbar a:hover::after{
    background-color: rgba(234, 68, 68, 0.839);
    height: 10px;
}

#top{
    background-image: url(../wangbh.github.io/img/top.png);
}
#day{
    background-image: url(../wangbh.github.io/img/day/shudong.png)
}
#video{
    background-image: url(../wangbh.github.io/img/video/videobc.JPG)
}

/* 第一块：top */


/* 第二块：like */

#like  {
	/* 弹性布局 让页面元素水平+垂直居中 */
	display: flex;
	background: linear-gradient(rgb(46,169,223), rgb(125,185,222));
    /* rgb(58,143,183) */
	/* 视距 让元素看起来更有3D效果 */
	perspective: 900px;
}

.navbar,
.navbar ul {
	/* 三个元素都需要弹性布局 写一块 */
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar {
    margin: auto 0;
    height: 300px;
	/* 相对定位 */
	position: relative;
	padding: 20px;
	border-radius: 50px;
	background-color: #FCFAF2;
}
.navbar input {
	width: 40px;
	height: 40px;
	/* 鼠标移入变小手 */
	cursor: pointer;
	/* 不透明度为0 直接变透明 */
	opacity: 0;
}
.navbar span {
	/* 绝对定位 */
	position: absolute;
	left: 25px;
	/* 现将两条线都放到一起 然后单独设置第二条线的位置 calc方法可以自动计算数值 */
	top: calc(50% - 10px);
	width: 30px;
	height: 4px;
	border-radius: 15px;
	background-color:#0089A7;
	/* 这里在解决一个问题 现在span覆盖着复选框 我们鼠标放到span点不中复选框  写这个属性就能解决这个问题 即便鼠标放到span上点击也能够选中或者未选中复选框*/
	pointer-events: none;
	/* 收回来的时候过渡刚好相反 */
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}
/* 因为第二条线在navbar这个元素内的第三个位置 所以这里写3 */
.navbar span:nth-child(3) {
	top: calc(50% + 6px);
}
.navbar ul {
	width: 0;
	/* 溢出隐藏 */
	overflow: hidden;
	/* 现在这个盒子是扁的 待会解决这个问题 */
	/* 这个问题出现的原因是 文字被换行显示了 两个汉字竖着排列了 就撑大盒子了 */
	/* 这个属性可以让文字就在一行排列 不换行 */
	white-space: nowrap;
	transition: all 0.5s;
}
.navbar ul li {
	list-style: none;
	margin: 0 15px;
}
.navbar ul li a {
	/* 取消下划线 */
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: #333;
}
.navbar ul li a:hover {
	color: #F05E1C;
}
/* :checked是当选中的复选框的时候 ~ 是兄弟选择器 查找同一级的ul */
.navbar input:checked ~ ul {
	width: 350px;
}
.navbar input:checked ~ span:nth-child(2) {
	top: calc(50% - 2px);
	transform: rotate(-45deg);
	background-color:  #ED784A ;
	/* 现在速度太快了 加个过渡 */
	/* 这是先执行top 然后.3s后执行transform */
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
.navbar input:checked ~ span:nth-child(3) {
	top: calc(50% - 2px);
	transform: rotate(45deg);
	background-color:  #ED784A ;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

#like h1{
    font-size: 50px;
}
.imga {
    /* 自动居中 */
    margin: auto;
	/* 相对定位 */
	position: relative;
	width: 300px;
	height: 200px;
	/* 鼠标放到元素上变成小手 */
	cursor: pointer;
	/* 让子元素保留其3D位置 */
	transform-style: preserve-3d;
	/* 动画 名称 时长 linear 是匀速 播放 infinite 是无限次播放 */
	animation: rotate 30s linear infinite;
}
.imga:hover {
	/* 鼠标放到元素上停止动画 */
	animation-play-state: paused;
}
.imga div {
	/* 绝对定位 */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	/* 设置元素的倒影效果 below 是倒影效果在元素下方 15px 是元素和倒影的距离 后面的属性和背景渐变色是一个属性 设置了一个从下到上由背景透明色过渡到设置了不透明度的白色 */
	-webkit-box-reflect: below 15px -webkit-linear-gradient(transparent 10%, rgba(255, 255, 255, 0.3));
}

.imga img{
    width: 100%;
    height: 100%;
}
.imga div:nth-child(1) {
	transform: translateZ(300px);
	background-color: #c14c39;
}
.imga div:nth-child(2) {
	transform: rotateY(60deg) translateZ(300px);
	background-color: #6e9c72;
}
.imga div:nth-child(3) {
	transform: rotateY(120deg) translateZ(300px);
	background-color: #5e5f7a;
}
.imga div:nth-child(4) {
	transform: rotateY(180deg) translateZ(300px);
	background-color: #f5eb98;
}
.imga div:nth-child(5) {
	transform: rotateY(240deg) translateZ(300px);
	background-color: #50a3bc;
}
.imga div:nth-child(6) {
	transform: rotateY(300deg) translateZ(300px);
	background-color: #f9a99a;
}
/* 先定义旋转动画 */
@keyframes rotate {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}

/* 第二块：like */


/* 第三块：day */
.container{
    
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    
}

.container .card{
    position: relative;
    width: 300px;
    height: 400px;
}

.container .card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.container .card .face.face1{
    background: rgba(187, 147, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.container .card .face.face1 img{
    max-width: 100px;
}

.container .card .face.face1 h3{  
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.container .card:hover .face.face1{
    transform: translateY(-100%) rotateX(90deg);
    background: #ff7fb4a5;
}

.container .card .face.face2{
    background: rgba(3, 205, 255, 0.8);
    display: flex;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.container .card .face.face2 .words{
    display: block;
    font-size: 20px;
    margin-bottom:30px ;
}

.container .card .face.face2 .date{
    display: block;
    font-size: 30px;
    font-family: 'Times';
    color: rgba(234, 68, 68, 0.839);
}

.container .card .face.face2 a{
    font-size: 20px;
    color: #99f;
    text-decoration: none;
}
.container .card:hover .face.face2{
    transform: translateY(0%) rotateX(0deg);
}
/* 第三块：day */

/* 第四块：write */

#write{
    position: relative;
    top: 0;
    left: 0;
}

.shell{
    width: 100%;
    height: 100%;
    background-color: rgba(117, 204, 255, 0.458);
    overflow: hidden;
}
.page{
    transform: translateX(-110%);
    position: absolute;
    width: 50%;
    height: 100%;
    transition: .5s;
    background-size: cover;
}
.button{
    display: block;
    width: 10%;
    color: #fff;
    font-size: 30px;
    border-bottom: #fff solid 4px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin: 50px;
    left: calc(50% + (var(--i)*17%));
    z-index: 999;
    transition: .3s;
}
.page_content{
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    color: #FFF;
    position: absolute;
    left: 100%;
    display: none;
    animation-name: fade;
    animation-duration: .7s;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.shell input{
    display: none;
}
.shell input:checked+.page{
    transform: translateX(0px);
    transition: .4s;
}
.shell input:checked+.page .page_content{
    width: 100%;
    display: block;
}
.page:nth-child(3){
    background-image: url('./img/write/write1.png');
}
.page:nth-child(3) .page_content{
    background-color: rgb(185,130,130);
}

.page:nth-child(6){
    background-image: url('./img/write/write2.png');
}
.page:nth-child(6) .page_content{
    background-color: rgb(173,170,226);
}

.page:nth-child(9){
    background-image: url('./img/write/write3.png');
}
.page:nth-child(9) .page_content{
    background-color: rgb(236,180,110);
}
.page h1{
    font-size: 50px;
}
.page p{
    font-size: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 30px 0;
}
.page span{
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(56, 56, 56);
}
label:hover{
    cursor: pointer;
    border-bottom: solid 4px rgba(56, 252, 255, 0.722);
}


/* 第四块：write */


/* 第五块：video */

#list{
    height: 600px;
    width: 3200px;
    margin-top: 100px;
    overflow: hidden;
}
#list li{
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
#list iframe{
    width: 700px;
    height: 600px;
    border: 5px solid #F05E1C;  
}

/* 第五块：video */

/* 第六块：footer */


/* 第六块：footer */
#footer{
    background: linear-gradient(rgb(88,178,220), rgb(46,169,223));
}

.end1{
    text-align: center;
    padding-top: 300px;
    padding-left: 50px;
    font-size: 80px;
}
.end2{
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}
/* 鼠标跟随 */
.mouse{
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url('./img/1386339622.gif');
    background-size: cover;
}
/* 鼠标跟随 */